.gallery-container {
    padding: 2rem;
    width: 95%;
    margin: auto;
    margin-bottom: 3rem;
}

.gallery-row {
    margin-bottom: 20px; /* Add a gap between gallery-rows */
}

.gallery-row1 {
    display: flex;
    justify-content: space-between; /* Different layout for the first gallery-row */
}

.header-container {
    flex: 1;
}

.header-container > h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.image-container, .gallery-col, .double-image-container .image-item {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.image-container {
    flex: 1;
    height: 350px; /* Define height for the first row image */
    display: flex;
    justify-content: flex-end; /* Align the image to the right */
}

/* Grid container for gallery-rows 2 and 3 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 equal columns */
    gap: 20px; /* 20px gap between grid items */
    justify-items: end; /* Align items to the right */
}

.gallery-col {
    height: 250px; /* Set a fixed height for the gallery images */
    background-size: cover;
    background-position: center;
}

.empty {
    height: 250px;
    flex: 1; /* Empty gallery column */
}

.single-image .image-container-bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end; /* Align the image to the bottom */
}

.top-empty {
    flex: 1; /* Take up space in the top half */
}

.double-image-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.double-image-container .image-item {
    height: 150px; /* Set height for each image in the double-image container */
}

.wide {
    grid-column: span 2; /* Make this column wider in the grid */
    height: 250px; /* Define height */
}

.view-more-btn {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    color: #007bff;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.view-more-btn .arrow {
    margin-left: 8px;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.view-more-btn:hover .arrow {
    transform: translateX(5px); /* Slide effect on arrow */
}
