.ourPartnersWrapper {
    background: #f4f4f9;
  }
  
  .partnersHeader {
    position: relative;
    display: inline-block;
    padding-top: 20px;
    text-align: center;
  }
  
  .partnersHeader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 4px;
    background: linear-gradient(90deg, #721975, #feb47b);
    border-radius: 2px;
    margin-bottom: 20px;
  }
  
  
  
  