.team-container {
    width: 95vw;
    height: 95vh;
    background: rgb(220, 220, 220);
    border: 1px solid rgb(46, 46, 46);
    margin: 10px auto;
    align-self: center;
    position: relative;
  }
  
  .team-top {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .team-top h4,
  .team-top h6 {
    margin: 0;
  }
  
  .team-top img {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-right: 10px;
  }
  
  .team-components-group {
    margin: 1rem auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;
    height: 90%;
    position: relative;
  }
  
  .team-component {
    width: 350px;
    border: 1px solid green;
    background: white;
    border-radius: 2rem;
    padding: 1.5rem 2rem;
  }
  
  .team-focused {
    border-color: transparent;
    box-shadow: 1px 1px 5px purple;
    height: 100%;
  }
  
  .team-left,
  .team-right {
    height: 90%;
    margin: auto;
  }
  
  .team-left {
    box-shadow: -1px 1px 5px rgb(16, 9, 9);
  }
  
  .team-right {
    box-shadow: 1px 1px 5px rgb(16, 9, 9);
  }
  
  .team-arrows {
    position: absolute;
    font-size: 3em;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(43, 43, 43, .3);
    border-radius: 50%;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: rgb(82, 27, 155);
  }
  
  .team-arrow-left {
    left: 0;
  }
  
  .team-arrow-right {
    right: 0;
  }
  
  .team-arrows:hover {
    background: rgb(82, 27, 155, .7);
    color: rgb(255, 215, 129);
    cursor: pointer;
  }
  